header {
    width:100%;
    display:inline-grid;
    grid-template-columns: 20% auto 8% ;
    /* border: 1px dashed red; */
    height: 2rem;
    
}
nav {
    display:flex;
    justify-content: flex-end;
   
    
    
}
nav .item {
    display: flex;
    cursor: pointer;
    margin: 0 0.2rem;
    padding: 0 0.4rem;
    height: 1.4rem;
    border: 1px solid black;
    border-radius: 0 0 0.4rem 0.4rem;
    text-decoration: none;
    color: black;
}

.item.active {
    padding-top: 0.3rem;
}

.userInfo {
    text-align: right;
}